<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><?=$CFG["app_name"];?></title>
	<link rel="stylesheet" href="assets/bs2/css/bootstrap-combined.min.css">
	<style>
		.hidden { display: none;}
		.page-header {margin-top: 70px;}
		a.int, a.int:visited, a.int:hover, a.int:active {
			border-bottom: 1px dashed blue;
			color: blue;
			text-decoration: none;
		}
	</style>
	<script src="assets/bs2/js/jquery.js"></script>
	<script src="assets/bs2/js/bootstrap.min.js"></script>
	<script src="assets/js/app.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a href="index.php" class="brand"><?=$CFG["app_name"];?></a>
		</div>
		<div class="navbar-overlay"></div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="span8 offset2">
			<div class="page-header">
			<h1>Калькулятор <small class="pull-right">Тестовое задание</small></h1>
			</div>
		
			<form class="form-inline">
				<div class="input-append">
					<input type="text" class="span4" name="expr" id="expr" placeholder="Введите выражение">
					<button type="submit" class="btn"><i class="icon icon-play"></i> Вычислить</button>
				</div>
				<span class="help-block">Введите арифметическое выражение, например <a href="#" class="int">4+3</a>, <a href="#" class="int">354*23/0</a>, <a href="#" class="int">34*(3+5)</a>.</span>
				
			</form>
			<div class="res-container <?if(empty($view_data)):?>hidden<?endif;?>">
				<h3>Журнал вычислений</h3>
				<ul class="res">
					<?if(!empty($view_data)):?>
						<?if (!empty($view_data["dt"]) && !empty($view_data["expr"]) && !empty($view_data["res"])):?>
								<li><small><?=$view_data["dt"];?></small>: <span><?=htmlspecialchars($view_data["expr"]);?></span> = <b><?=$view_data["res"];?></b></li>
						<?elseif (!empty($view_data["error"])):?>
							<li><span class='label label-important'>Ошибка: <?=$view_data["error"];?></span></li>
						<?endif;?>
					<?endif;?>
				</ul>
			</div>
		</div>
	</div>
</div>

<div style="height:100px">&nbsp;</div>

<div class="navbar navbar-fixed-bottom">
	<div class="navbar-inner">
		<div class="container footer-margin-top">
			
			<div class="muted text-muted">&copy; 2016<?if(date("Y")>2016):?>&ndash;<?=date("Y");?><?endif;?> &laquo;<a href="<?=$CFG["url_base"];?>"><?=$CFG["app_name"];?></a>&raquo;</small>
			</div>
			
		</div>
	</div>
</div> 

</body>
</html>
